* {
    box-sizing: border-box
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*GLOBAL*/

.container {
    width: 90%;
    margin: 0 auto;
}

/*HEADER*/

header {
    height: 150px;
}

header li a {
    color: #565254;
}

.navBar ul  {
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 2px solid transparent;
}
.narBar .more {
    border: 2px solid black;
}

.navBar li:hover {
    border: 2px solid #565254;
}

.navBar li a:visited {
    color: #565254;
}

.navBar .navHidden {
    display: none;
}
/*FEATURE PAGE*/

.featureImage  {
    text-align: center;
    height: 1200px;
    /*height: 100vh;*/
    background-image: url("images/featureimage.jpg");
    background-size: cover;
    background-position: center;
}

.featureImage h1 {
    letter-spacing: 25px;
    line-height: 5rem;
    font-size: 64px;
    padding-top: 240px;
    margin-bottom: 30px;
    color: #565254;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
}

.featureImage p {
    letter-spacing: 18px;
    font-size: 40px;
    color: #FFFBFE;
    font-family: Verdana, Geneva, sans-serif;
}

.featureImage a {
    text-decoration: none;
    letter-spacing: 5px;
    margin: 5px 10px;
    padding: 5px 10px 5px 15px;
}

.featureImage .more {
    color: #FFFBFE;
}

.featureImage .more:hover {
    border: 2px solid #FFFBFE;
}

.featureImage a:visited {
    color: #FFFBFE;
}

/*PORTFOLIO SECTION*/

.portfolio {
    color: #000000;
    overflow: auto;
}

.portfolio h3 {
    text-align: center;
    letter-spacing: 6px;
    font-size: 48px;
    color: #565254;
    font-weight: normal;
}

.portfolio p {
    padding: 0 30px;
}

.workSection{
    height: 330px;
}


.projectBox {
    text-align: center;
    width: 33.3%;
    height: 330px;
    float: left;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 0.8;
    transition: all 0.3s;
}

.projectBox h4 {
    font-size: 48px;
    letter-spacing: 5px;
    padding-top: 5%;
    color: #FFFFFF;
    display: none;
}

.projectBox h3 {
    font-size: 48px;
    letter-spacing: 5px;
    color: #FFFFFF;
    display: none;
    font-weight: bold;
    padding-top: 15%;
}

.projectBox P {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #FFFFFF;
    display: none;
}

.projectBox:hover {
    opacity: 1;
    transform: scale(0.98);
    /*transition-duration: 1s;*/
}
.projectBox:hover h3 {
    display: block;
}

.projectBox:hover h4 {
    display: block;
}

.projectBox:hover p {
    display: block;
}

.projectBox a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.projectBox .projectDone h4 {
    margin-top: 35%;
}
.project1 {
    background-image: url("images/pilotshop.png");
    background-size: cover;
    background-position: center;
}

.project2 {
    background-image: url("images/workprogress1.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project3 {
    background-image: url("images/workprogress2.png");
    background-size: cover;
    background-position: center;
}

.project4 {
    background-image: url("images/workprogress2.gif");
    background-size: cover;
    background-position: center;
}
.project5 {
    background-image: url("images/workprogress3.jpg");
    background-size: cover;
    background-position: center;
}
.project6 {
    background-image: url("images/workprogress4.gif");
    background-size: cover;
    background-position: center;
}

/*ABOUT ME*/

.aboutMe {
    text-align: center;
    overflow: auto;
    margin-bottom: 50px;
}

.aboutMe h2 {
    font-size: 48px;
    color: #565254;
    font-weight: normal;
    letter-spacing: 6px;
}

.aboutMe p {
    letter-spacing: 2px;
    line-height: 18px;
    color: #565254;
}

.aboutMe .archWorks {
    font-size: 24px;
}

.archBox {
    width: 33.3%;
    height: 250px;
    float: left;
    border: 1px solid black;
}


.otherWork {
    text-align: center;
}

.line {
    width: 2px;
    height: 100px;
    background-color: #747474;
    margin: 20px auto;
}

.circleContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.circleImage {
    /*display: block;*/
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.7);
    border-radius: 50%;
}

.circleContainer:hover .overlay {
    opacity: 1;
}

.circleText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*CONTACT ME*/

footer {
    text-align: center;
    background-color: #272727;
    height: 160px;
    color: #747474;
}

footer h2 {
    margin-bottom: 10px;
}

footer p {
    margin: 10px;
}

footer .contact {
    padding-top: 5px;
}

footer a {
    text-decoration: none;
    opacity: 0.8;
    color: #747474;
}
footer .backUp {
    padding: 5px 15px;
    border: 1px solid transparent;
    font-size: 16px;
}

.backUp a {
    color: #747474;
}

footer .backUp:hover {
    border: 1px solid #747474;
}

footer a:visited {
    color: #747474;
}

.contact a {
    color: #747474;
}

.logoContainer a img {
    height: 50px;
    opacity: 0.8;
    margin-left: 20px;
    filter: invert(100%);
}

.logoContainer {
    float: right;
    margin-top: -45px;
}

.copyright {
    color: #747474;
    float: left;
    margin-top: -15px;
    font-weight: lighter;
    opacity: 0.8;
}

/*!*MEDIA QUERIES*! MARK*/

@media only screen and (max-width:500px) {
    section .projectBox{
        width: 100%;
        height: 300px;
    }
    .navBar li {
        font-size: 14px;
        padding: 0;
        margin: 30px 10px;
        border: none;
    }

    .portfolio .projectBox h4 {
        margin-top: 20%;
    }

    .portfolio .projectBox h3 {
        margin-top: 10%;
    }

    .projectBox P {
        font-size: 24px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #FFFFFF;
        display: none;
    }

   footer {
       height: 300px
   }
}

@media only screen and (max-width:768px) {
    .navBar li a {
        font-size: 14px;
        margin: 0 20px;
        padding: 10px;
    }

    .navBar ul {
        margin: 0;
    }

    .navBar .navDefault {
        display: none;
    }
    .navBar .navHidden {
        display: block;
        padding: 0;
    }

    .featureImage h1 {
        letter-spacing: 20px;
        line-height: 3.5rem;
        font-size: 46px;
    }

    .featureImage p {
        letter-spacing: 12px;
        font-size: 28px;
    }


    .projectBox h3 {
        font-size: 32px;
        letter-spacing: 3px;
        margin-top: 20%;
    }

    .projectBox h4 {
        font-size: 32px;
        letter-spacing: 3px;
        margin-top: 20%;
    }

    .projectBox p {
        font-size: 18px;
        font-weight: normal;
        margin-top: 10px;
    }

    footer {
        height: 300px;
    }
}

@media only screen and (max-width:1024px) {
    .projectBox {
        width: 50%;
        height: 280px;
    }

    .projectBox h4 {
        margin-bottom: 0;
    }

    footer {
        height: 260px;
    }

    .copyright {
        float: none;
        margin-top: 10px;
    }

    .logoContainer {
        display: block;
        float: none;
        margin-top: 20px;
    }

    .featureImage h1 {
        padding-top: 180px;
    }

    .navBar li {
        font-size: 16px;
        padding: 0;
        margin: 20px 0 0 0;
    }

    .navBar li:hover {
        border: 2px solid #7a7678;
    }
}

@media only screen and (min-width:1400px) {
    .projectBox {
        height: 400px;
    }
    .featureImage {
        height: 1400px;
    }
    .featureImage h1 {
        margin-top: 100px;
    }
}